---
interface Props {
    url: string;
    image: string;
    title: string;
    body: string;
}

const { url, image, title, body } = Astro.props;
---
<!-- 
<li class="card">
    <div class="card__link">
        <div class="center">
            <img class="card__img" width="226" height="127" src={image} alt="ProjectImage">
        </div>
        <h3 class = "card_title"><a href={url}>{title}</a></h3>
        <p class="card__txt">
            {body}
        </p>
    </div>
</li>

<style>
    h3 {
        font-family: 'Josefin Sans', sans-serif; /* Ensure the font family is applied */
        text-decoration: underline; /* Restore default text decoration */
    }
</style>  -->

<li class="card">
    <a class="card__link" href={url}>
        <div class="center">
            <img class="card__img" width="226" height="127" src={image} alt="ProjectImage">
        </div>
        <h3 class="card__title">
            {title}
        </h3>
        <!-- <p class="card__txt">
            {body}
        </p> -->
    </a>
</li>
