---
import BaseLayout from './Layout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/laptop.webp"/>
    </div>
    <h2>{frontmatter.title}</h2>
    <ul class="badge__list">
        <li><span class="badge badge--item">KEYWORDS</span>{frontmatter.keywords}</li>
        <li><span class="badge badge--item">ADVISOR</span>{frontmatter.advisor}</li>
        <li><span class="badge badge--item">WEBSITE</span><a class="badge__link" href={frontmatter.website} target="_blank">{frontmatter.website}</a></li>
    </ul>
    <slot />
</BaseLayout>

<style>
    ul,ol {
        margin: 0 0;
        text-align: left;
        line-height: 1.4;
    }
    h2 {
        text-align: left;
        font-family: 'Courier New', sans-serif; 
        margin-bottom: 1em; 
    }
    h4 {
        text-align: center;
        font-family: 'Papyrus', cursive; 
        font-weight: normal;
        margin-bottom: 1em; 
    }
    /* p, .project-description {
        text-align: left;
        font-family: 'Josefin Sans', cursive; 
        margin-bottom: 1em; 
    } */
    .center {
        text-align: center;
        margin: 2em 0;
    }
    .pro-img {
        margin: 1em 0;
    }
    a:link {
        color: rgb(195, 115, 169);
        background-color: transparent;
        text-decoration: none;
    }
    a:visited {
        color: rgb(195, 115, 169);
        background-color: transparent;
        text-decoration: none;
    }
    a:hover {
        color: rgb(28, 128, 186);
        background-color: transparent;
        text-decoration: underline;
    }
</style>
